/* sass-lint:disable no-color-literals */

$background: #F1F1F1
$border: #C1C1C1
$boxshadow: rgba(0, 0, 0, 0.6)
$black: #000
$yellow: #FF0
$height: 32px

.find-in-nw-search-box
    position: fixed
    top: 10px
    right: 10px
    display: none
    width: 300px
    background: $background
    border: 1px solid $border
    border-radius: 7px
    margin: 0px
    padding: 0px
    box-shadow: 1px 3px 9px $boxshadow
.find-in-nw-search-box-visible
    display: flex

.find-in-nw-input
    flex-grow: 1
    background: transparent
    border: 0px
    margin: 0px
    padding: 0px 0px 0px 3px
    font-size: 16px

.find-in-nw-close
    width: $height
    background: transparent
    border: 0px
    margin: 0px
    padding: 0px
    font-size: $height
    opacity: 0.5
    &:hover
        opacity: 1.0

.find-in-nw-search-box,
.find-in-nw-input,
.find-in-nw-count,
.find-in-nw-close
    height: $height
    color: $black
    font-family: sans-serif
    line-height: $height
    vertical-align: top

.find-in-nw-input,
.find-in-nw-close
    &:focus
        opacity: 1.0
        outline: none

.find-in-nw-token
    background-color: $yellow
